body{
    width:100%;
    margin:0;padding:0;
    background-color: #f0f0f0;
}
.my_small{
    font-family: "Microsoft Yahei", arial,sans-serif;
    font-size: 15px;
    color: #9e9e9e !important;
}
.my_header,.my_footer{
    width:100%;
}
@media screen and (min-width: 992px){
    .my_header{
        height:8rem;
    }
    .my_footer{
        height:18rem;
    }
}
@media screen and (max-width: 991px){
    .my_header{
        height: 12rem;
    }
    .my_footer{
        height: 35rem;
    }
}
.my_font{
    font-family: "Microsoft Yahei", arial,sans-serif;
    color: #9e9e9e;
    font-size: 12px;
}
.my_small_12,.my_font_14{
    font-size: 12px;
    font-family: "Microsoft Yahei", arial,sans-serif;
    font-weight: normal;
    color: #9e9e9e;
}
.my_font_14{
    font-size:14px!important;
}
.r_font,.r_font12{
    font-size: 16px;
    color: #212121;
}
.r_font12{
    font-size: 12px;
}
.ul_list{
    list-style: none;
    padding:0;
}
.open{
    padding:12px 0 0;
    overflow: hidden;
    margin:0;
}
.over{
    overflow: hidden;
    margin:0;
}
.open img{
    width:63px;
    margin-top:-37px;
}
.my_blk{
    display: inline-block;
}
.my_blk a{
    color: #212121;
    width: 100px;
    max-height: 32px;
    line-height: 16px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.ess{
    float: left;
    width: 14px;
    height: 9px;
    background: url(img/comm/icon.png) no-repeat -86px -73px;
    margin: 15px 6px 0 0;
}
.my_margin{
    margin:0 16px 16px 0;
}
.open dd{
    width:80%;
}
.open a:hover{
    text-decoration: none;
    color:#f26552;
}
.over dd{
    height: 36px;
    line-height: 36px;
    width:80%;
    position: relative;
}
dt{
    float: left;
    text-align: right;
    width: 10px;
    margin-right: 18px;
    line-height: 36px; 
    border: 0;  
}
dl dd{
    float: left;
    border-bottom:1px solid #f0f0f0;
    margin:0;
}
.over a{
    width: 130px;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
}
.over dd>span:last-child{
    position: absolute;
    top:1px;
    right:36px;
}
.my_hidden{
    display: none;
}
.r_last{
    background-color: #fafafa; 
    padding:40px 40px 10px;
}
