.my_center{
    width:318px;
   margin:0 auto; 
}
#img1{
    display: block;
    margin:2rem auto 1rem;
}
.my_style{

    height: 44px;
    border:1px solid #cbcbcb;
    padding:0 0 0 12px;
    background:#fff;
    line-height: 44px;
    position: relative;
}
.my_bottom{
    border-bottom:0;
}
.my_hidden{
    display: none;
}
.my_input{
    box-sizing: border-box;
    border:0;outline:0;
    padding:10px;
    height:36px;
    font-family: "Microsoft Yahei", arial,sans-serif;
    color: #aaa;
    font-size: 12px;
    display: inline;
}
.my_f{
    font-family: "Microsoft Yahei", arial,sans-serif;
    color: #5f5f5f;
    font-size: 14px;
}
button{
    width: 100%;
    height: 50px;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    background: #ff7200;
    margin-top: 22px !important;
}
h5{
    text-align: center;
    margin-top:12px;
}
h5>a,h5>span{
    font: 14px "Microsoft Yahei","Lucida Grande", Helvetica, Arial;
    color: #666;
}
h5>a:hover,h5>span:hover{
    font: 14px "Microsoft Yahei","Lucida Grande", Helvetica, Arial;
    color: #666;
    text-decoration: none;
}
.my_err{
    padding: 0 4px;
    color: #fff;
    font-size: 12px;
    line-height: 21px;
    border-radius: 2px;
    background: #ff2400;
    position: absolute;
    top: 11.5px;
    left: 65%; 
}